.password-generator__box {
  display: flex;
}

.password-generator__left,
.password-generator__right {
  width: 50%;
}

.password-generator__left {
  padding-right: 45px;
}

.password-generator__right {
  padding: 14px;
  padding-left: 35px;
  padding-right: 5px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.password-generator__left .custom-checkbox {
  padding: 5px 0;
}

.password-generator__left-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.password-generator__left-footer .input {
  width: 100px;
}