.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-primary {
  padding: 10px 33px;
  color: #fff;
  background-color: #415AB1;
  border-radius: 10px;
  transition: background-color 200ms;
}

.button-primary svg {
  padding-right: 10px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #0A154D;
}

.button-primary:active {
  background-color: #060B25;
}